.news-container {
    @include dflex(flex, column, center, center);
    width: 100%;
    padding: 5rem 0;
    background-color: $w-color;
    @media (min-width:768px){
        align-items: flex-start;
    }
    

    &__card {
        width: 90%;
        margin: $c-margin;
        margin-bottom: 20px;
        text-align: start;
    // added
        max-width: 360px;
       

        img {
            width: $full-width;
            border-radius: $border_r;


        }

        a {
            text-transform: uppercase;
            color: $txt-color;
            font-family: font2;
        }

        p{
            color: $txt-color-secondary;
        }

        &__linkPrimary {
            width: $full-width;
            font-size: 22px;
            letter-spacing: 2px;
            font-weight: 500;
            margin: 20px 0;
            

        }

        &__linkSecondary {
            font-size: .8rem;
        }
    @media (min-width:768px){
        width: 30%;
        margin: 2%;
    }
    }
    @media (min-width:768px){
        margin: $c-margin;
        flex-direction: row;
        // justify-content: space-between;
        // max-width: 1200px;
    }

}