.slider {

  min-width: 320px;
  background-image: url("../images/slide1-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: $full-vh;
  border-top: 5px solid $border-color;
  position: relative;
  top: 0;





  &__links {
    width: $full-width;
    margin: 12% auto;

    a {
      display: block;
      text-align: center;
      margin-bottom: 6%;
      font-size: .8rem;
    }


  }


  i {
    color: $txt-color;

    cursor: pointer;
  }


  &__header {
    position: relative;
    @include dflex(flex, row, space-between, center);
    width: $full-width;
    padding: $txt-small;
    margin: 2rem auto;

    &__buttons {
      display: none;
      @media(min-width:768px) {
        @include dflex(flex, row, space-between, center);
        width: 71%;
        color: $w-color;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 500;
        font-family: font2;
        transition: .3s;

        a {
          transition: .3s;
        }

        a:hover {
          transform: scale(1.2);
          transition: .3s;
          font-weight: 600;
        }
      }
      @media(min-width:980px){
          width: 56%;
        font-size: 1.2rem;
        font-weight: 400;
      }


    }










      




    

    @media(min-width:1330px) {
      width: 80%;
      margin: 2rem auto;




    }


    &__image {
      width: 80px;
      cursor: pointer;

    }

    &__navbar {
      @media(min-width:768px) {
        width: 10%;
      }

      padding: $pad-primary;


      i {
        color: $txt-color;

        cursor: pointer;


      }

      .bars {
        @media(min-width:768px) {
          display: none;
        }
      }

      @include dflex(flex, row, space-between, center);
      width: $half-width;


      @media(min-width:990px) {
        width: 10%;
      }

    }

    &__menu {
 display: none;
      padding-top: 2rem;
      @media(min-width:500px){
        width: 50%;
      }
      position: absolute;
    
          width: 60%;
          background-color: $w-color;
          z-index: 1;
          position: absolute;
          right: 0;
          top: 100%;
          font-family: font2;
          border-radius: 10px;
      
          &__links {
            a {
              margin-bottom: 2rem;
            }
      
            width: 100%;
            @include dflex(flex, column, space-between, center);
      
          }
      
          #reservation {
            text-transform: uppercase;
            background-color: $txt-color;
            padding: 8px 16px;
            color: $w-color;
            border-radius: 8px;
            margin-top: 1rem;
            font-size: .8rem;
            font-weight: 500;
          }
      
      
      
      
          &__imageBox {
            width: 90%;
            margin: $c-margin;
            margin-bottom: 2rem;
            @include dflex(flex, column, center, center);
            gap: .5rem;
      
      
            &__row {
              @include dflex(flex, row, center, center);
              gap: .5rem;
      
              div {
                width: calc(20% - .5rem);
      
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
      
      
      
          }
        }
  }


  &__section {
    @include dflex(flex, column, center, center);
    color: $w-color;
    width: 80%;
    margin: 0 auto;
    margin: $c-margin;
    margin-top: 15%;


    &__txt1 {


      font-family: font1;
      font-size: 50px;
      line-height: 1.1;
      margin: 0;


    }

    &__txt2 {
      font-weight: bolder;
      font-size: $txt-big;
      letter-spacing: $txt-small;
      text-transform: uppercase;
      text-align: center;

    }

    &__btn {
      color: $btn-color-primary;
      font-weight: 100;
      background-color: $bg-main;
      border-radius: 10px;
      padding: $pad-secondary;
      // margin-top: 10%;
    }
  }


}