$bg-main:rgb(231, 229, 229);
$bg-contrast:#222;
$bg-third:#111111;
$border-color:rgb(214, 7, 7);
$border-color-secondary:rgb(22, 22, 22);
$txt-color: rgb(20, 19, 19);
$txt-color-secondary:rgb(147, 143, 143);
$btn-color-primary:rgb(251, 0, 79);
$full-width:100%;
$half-width:50%;
$w-color: #f3eded;
$full-vh:100vh;
$pad-primary:16px 12px;
$pad-secondary:8px 22px;
$txt-big:3rem;
$txt-medium:2rem;
$txt-small:.5rem;
$c-margin:0 auto;
$border_r:10px;
